/* 1|| General formatting: */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}

span {
    color: #0d1d25;
}


/* 2|| Header formatting: */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

/* Header links */
nav {
    float: right;
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 20px;
}

nav a:hover {
    color: #0d1d25;
}


/* 3|| Figure formatting: */

figure {
    margin-bottom: 25px;
}

figure img {
    display: block;
    position: center;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    width: 100%;
    object-fit: cover;
}


/* 4|| Content formatting: */

content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Content section IDs */
#content-seo,
#content-orm,
#content-smm {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Content images */
#content-seo img,
#content-orm img,
#content-smm img {
    max-height: 200px;
}

#content-seo img,
#content-smm img {
    padding-right: 30px;
    float: left;
}

#content-orm img {
    float: right;
}


/* 5|| Aside formatting: */

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Aside section classes */
.aside-lead,
.aside-brand,
.aside-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Aside images */
.aside-lead img,
.aside-brand img,
.aside-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* 6|| Footer formatting: */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h4 {
    font-size: 20px;
}